body  {
    background-color: rgb(214, 214, 214);
    margin: 0;
    padding: 0;
}

header  {
    width: 100%;
    background-color: rgb(128, 128, 128);
    color: white;
    font-size: 32px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 16px;
    height: 100px;

    padding-left: 30px;
    position: relative;
}
header #header-left  {
    text-align: left;
    line-height: 100px;
}
header #header-right  {
    width: 280px;
    padding-right: 80px;
    margin-top: -110px;
    margin-left: 80%;
}

h3, h4, h5  {
    font-family: Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
}

button  {
    width: 134px;
    background-color: green;
    color: white;
    height: 30px;
    border-style: hidden;
    border-radius: 50px;
    font-weight: bold;
    letter-spacing: 0.7px;
    text-transform: uppercase;
}

button:hover  {
    background-color: rgb(1, 165, 1);
}

.food-items  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}
.food-item-section  {
    background-color: white;
    width: 200px;
    height: 320px;
    padding: 0 20px 20px 20px;
    margin: 24px;
    border-style: hidden;
    border-radius: 15px;
}

.food-item-section button  {
    margin: auto;
}

.food-item-section img  {
    margin-bottom: -50px;
}

.food-item-promo  {
    color: red;
    text-transform: uppercase;
}

.food-item-promo span  {
    color: black;
}

.shopping-cart-window  {
    z-index: 100;
    height: 60%;
    width: 600px;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    border-width: 5px;
    background-color: rgb(185, 185, 185);
    color: black;
    position: absolute;
    margin-left: 50vw;
    margin-top: 50vh;
    transform: translate(-50%, -100%);
    padding: 30px;
    box-sizing: border-box;
}

.close-button  {
    background-color: black;
    color: white;
    width: 90px;
    height: 24px;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    position: absolute;
    right: 20px;
    top: 20px;
}